html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.fighters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    padding: 0 15px;
}

.fighter {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.fighter:hover {
    box-shadow: 0 0 50px 10px rgba(0,0,0,0.06);
    cursor: pointer;
}

.name {
    align-self: center;
    font-size: 21px;
    margin-top: 20px;
}

.fighter-image {
    height: 260px;
}

#loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.7);
    visibility: hidden;
}

#btn-fight {
    position: absolute;
    bottom: 25px;
    left: calc(50% - 75px);
    background-color: crimson;
    border: none;
    padding: 20px;
    font-size: 18px;
    color: #fff;
    width: 150px;
}

#btn-fight:hover {
    background-color: rgba(131, 12, 12, 1);
    cursor: pointer;
}

#detail-info {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    top: 20px;
    width: 40%;
    height: 70px;
    border: 1px solid saddlebrown;
    background-color: white;
    left: 30%;
    padding: 20px;
    font-size: 18px;
}

.detail-caption {
    font-weight: bold;
    margin-right: 5px;
}

.detail-caption::after {
    content: ':'
}

.detail-item {
    margin-right: 5px;
}